---
import Hero6 from "../videos/hero6.mp4";
import Layout from "../layouts/Layout.astro";
import { truncateText } from "../pages/skills.astro";
import HeroVideo from "../components/Hero_video.astro";
import "../style/pageGeneral.css";

const skillsRes = await fetch(`http://localhost:3000/exercisebasic`);
const skills = await skillsRes.json();
---

<Layout title="RouteSthenics - Basicos">
  <HeroVideo video={Hero6} />
  <section class="container_general">
    <h1>Ejercicios Basicos y Variaciones</h1>

    <section>
      <ul class="exercise_containers">
        {
          skills.map(
            (skill: {
              _id: String;
              basicsName: String;
              basicsDesc: String;
            }) => (
              <a href={`/EjerciciosBasicos/${skill._id}`}>
                <section class="exercise_items">
                  <h4>{skill.basicsName}</h4>
                  <p>{truncateText(skill.basicsDesc, 84)}</p>
                </section>
              </a>
            )
          )
        }
      </ul>
    </section>
  </section>
</Layout>
