---
import Hero8 from "../videos/hero8.mp4";
import Layout from "../layouts/Layout.astro";
import { truncateText } from "./skills.astro";
import HeroVideo from "../components/Hero_video.astro";
import "../style/pageGeneral.css";

const skillsRes = await fetch(`http://localhost:3000/flexibility`);
const skills = await skillsRes.json();
---

<Layout title="RouteSthenics - Flexibilidad">
  <HeroVideo video={Hero8} />

  <section class="container_general">
    <h1>Flexibilidad</h1>

    <section>
      <ul class="exercise_containers">
        {
          skills.map(
            (skill: { _id: String; flexName: String; flexDesc: String }) => (
              <a href={`/Flexibilidad/${skill._id}`}>
                <section class="exercise_items">
                  <h4>{skill.flexName}</h4>
                  <p>{truncateText(skill.flexDesc, 84)}</p>
                </section>
              </a>
            )
          )
        }
      </ul>
    </section>
  </section>
</Layout>
