---
import Layout from "../layouts/Layout.astro";
import Hero from "../videos/hero.mp4";
import Exercise from "../components/Exercise/Exerc.jsx";
import ExercBasic from "../components/Exercise/ExercBasic.jsx";
import Material from "../components/Exercise/Material.jsx";
import Warm from "../components/Exercise/Warm";
import Flexibility from "../components/Exercise/Flexibility.jsx";
import HeroVideo from "../components/Hero_video.astro";
import Card from "../components/Card.astro";
---

<Layout title="Calisthenics Roadmaps">
  <HeroVideo video={Hero} />

  <section class="container_general">
    <section class="hero_home">
      <h1>Roadmaps para calistenicos</h1>
      <p>
        RouteSthenics es una iniciativa destinada a elaborar ruta de
        progresiones, guías y otros recursos educativos para ayudar a los
        practicantes y avanzados de calistenia en la selección de su camino y
        orientar su progreso.
      </p>
    </section>

    <Exercise client:idle />

    <hr class="line" />
    <Warm client:idle />
    <hr class="line" />
    <Flexibility client:idle />
    <hr class="line" />
    <ExercBasic client:idle />
    <hr class="line" />
    <Material client:idle />
    <hr class="line" />


  </section>
  <Card
  nombre="Mi playlist musical"
  descripcion="Aquí te presento una selección de mis canciones favoritas para acompañar tus entrenamientos. Creo que estas melodías te infundirán la energía y motivación necesarias para alcanzar tus metas fitness. Espero que disfrutes de la variedad de estilos musicales que he elegido y que te impulsen a dar lo mejor de ti en cada sesión de ejercicio."
/>
</Layout>

<style>
  :root {
    scrollbar-width: thin;
    scrollbar-color: #0084ff #272727;
    overflow-x: hidden;
  }
  .line {
    border: 1px solid #1e293c;
    width: 100vw;
    z-index: -99;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  /* ------ */
  .principal_container {
    width: 100%;
    margin-bottom: 100px;
  }
  .principal_container h2 {
    text-align: center;
    padding-bottom: 40px;
    font-family: "aero";
    color: #c7eeff;
  }
</style>
