---
import Layout from "../layouts/Layout.astro";
import Hero from "../videos/hero.mp4";
import Exercise from "../components/Exercise/Exerc.jsx";
import ExercBasic from "../components/Exercise/ExercBasic.jsx";
import Warm from "../components/Exercise/Warm";
import Card from "../components/Card.astro";
---

<Layout title="Calisthenics Roadmaps">
  <section class="hero_video">
    <video autoplay muted loop id="video-bg">
      <source src={Hero} type="video/mp4" />
      Tu navegador no admite la etiqueta de video.
    </video>
    <div class="overlay"></div>
  </section>
  <section class="container_general">
    <section class="hero_home">
      <h1>Roadmaps para calistenicos</h1>
      <p>
        RouteSthenics es una iniciativa destinada a elaborar ruta de
        progresiones, guías y otros recursos educativos para ayudar a los
        practicantes y avanzados de calistenia en la selección de su camino y
        orientar su progreso.
      </p>
    </section>

    <Exercise client:idle />


    <Warm client:idle />

    <ExercBasic client:idle />

  </section>

  <Card
    nombre="La equipacion en la Calistenia"
    descripcion="¡Descubre el secreto para esculpir tu cuerpo sin límites! ¿Estás listo para desafiar tus límites físicos y alcanzar tu mejor versión? ¡Entonces, la calistenia es tu respuesta! Haz clic ahora para sumergirte en un mundo de entrenamiento funcional, donde tu propio peso corporal se convierte en tu herramienta de transformación."
    mostrarOtroBoton={true}
  />
</Layout>

<style>
  :root {
    scrollbar-width: thin;
    scrollbar-color: #0084ff #272727;
    overflow-x: hidden;
  }
  .line1,
  .line2,
  .line3 {
    border: 1px solid #1e293c;
    width: 100vw;
    z-index: -99;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  /* ------ */
  .principal_container {
    width: 100%;
    margin-bottom: 100px;
  }
  .principal_container h2 {
    text-align: center;
    padding-bottom: 40px;
    font-family: "aero";
    color: #c7eeff;
  }
</style>
