---
import Layout from "../layouts/Layout.astro";
import Hero from "../videos/hero.mp4";
import Exercise from "../components/Exercise/Exerc.jsx";
import ExercBasic from "../components/Exercise/ExercBasic.jsx";
import Material from "../components/Exercise/Material.jsx";
import Warm from "../components/Exercise/Warm";
import HeroVideo from "../components/Hero_video.astro";
import Card from "../components/Card.astro";

import "../style/pageGeneral.css";
 
---

<Layout title="Calisthenics Roadmaps">
  <HeroVideo video={Hero} />

  <section class="container_general">
    <section class="hero_home">
      <h1>Roadmaps para calistenicos</h1>
      <p>
        RouteSthenics es una iniciativa destinada a elaborar ruta de
        progresiones, guías y otros recursos educativos para ayudar a los
        practicantes y avanzados de calistenia en la selección de su camino y
        orientar su progreso.
      </p>
    </section>

    <Exercise client:idle />

    <hr class="line" />
    <Warm client:idle />
    <hr class="line" />
    <ExercBasic client:idle />
    <hr class="line" />
    <Material client:idle />
    <hr class="line" />

  </section>
  <Card
    nombre="Mi playlist musical"
    descripcion="Aquí te presento una selección de mis canciones favoritas para acompañar tus entrenamientos. Creo que estas melodías te infundirán la energía y motivación necesarias para alcanzar tus metas fitness. Espero que disfrutes de la variedad de estilos musicales que he elegido y que te impulsen a dar lo mejor de ti en cada sesión de ejercicio."
    condicional={true}
  />
</Layout>

