---
import Layout from "../layouts/Layout.astro";
import Hero from "../videos/hero.mp4";
import Exerc from "../components/Exercise/Exerc.jsx";
import ExercBasic from "../components/Exercise/ExercBasic.jsx";
import Warm from "../components/Exercise/Warm.jsx";
---

<Layout title="Calisthenics Roadmaps">
  <section class="hero_video">
    <video autoplay muted loop id="video-bg">
      <source src={Hero} type="video/mp4" />
      Tu navegador no admite la etiqueta de video.
    </video>
    <div class="overlay"></div>
  </section>
  <section class="container_general">
    <section class="hero_home">
      <h1>Roadmaps para calistenicos</h1>
      <p>
        RouteSthenics es una iniciativa destinada a elaborar ruta de
        progresiones, guías y otros recursos educativos para ayudar a los
        practicantes y avanzados de calistenia en la selección de su camino y
        orientar su progreso.
      </p>
    </section>
    <Exerc client:idle />
    <Warm client:idle />
    <ExercBasic client:idle />
  </section>
</Layout>

<style>
  :root {
    scrollbar-width: thin;
    scrollbar-color: #0084ff #272727;
  }
  /* ------ */
  .principal_container {
    width: 100%;
    margin-bottom: 100px;
  }
  .principal_container h2 {
    text-align: center;
    padding-bottom: 40px;
    font-family: "aero";
    color: #c7eeff;
  }
</style>
