---
import Hero7 from "../videos/hero7.mp4";
import Layout from "../layouts/Layout.astro";
import HeroVideo from "../components/Hero_video.astro";
import "../style/pageGeneral.css";

const materialRes = await fetch(`https://routesthenics-api.vercel.app/material`);
const material = await materialRes.json();

function truncateText(text, maxLength) {
  if (text.length <= maxLength) {
    return text;
  }
  return text.substring(0, maxLength) + "...";
}
---

<Layout title="RouteSthenics - Equipamiento">
  <HeroVideo video={Hero7}/>

  <section class="container_general">
    <h1>Equipacion (Materiales)</h1>

    <section>
      <ul class="exercise_containers">
        {
          material.map(
            (materials: {
              _id: String;
              materialName: String;
              materialDesc: String;
            }) => (
              <a href={`/Material/${materials._id}`}>
                <section class="exercise_items">
                  <h4>{materials.materialName}</h4>
                  <p>{truncateText(materials.materialDesc, 84)}</p>
                </section>
              </a>
            )
          )  
        }
      </ul>
    </section>
  </section>
</Layout>
