---
import Layout from "../layouts/Layout.astro";
import Hero15 from "../videos/hero15.mp4";
import HeroVideo from "../components/Hero_video.astro";
import Electronica from "../components/Exercise/Electronica.jsx";
import Rock from "../components/Exercise/Rock.jsx";
import "../style/pageGeneral.css";
---

<Layout title="RouteSthenics - Musica">
  <HeroVideo video={Hero15} />

  <section class="container_general">
    <section class="hero_home">
      <h1>Musica para entrenar</h1>
    </section>

    <Electronica client:idle />
    <hr class="line" /> 
    <Rock client:idle />
    <hr class="line" />
  </section>
</Layout>

