---
import Layout from "../layouts/Layout.astro";
import Hero15 from "../videos/hero15.mp4";
import HeroVideo from "../components/Hero_video.astro";
import Electronica from "../components/Exercise/Electronica.jsx";
import Rock from "../components/Exercise/Rock.jsx";
import "../style/pageGeneral.css";
---

<Layout title="RouteSthenics - Musica">
  <HeroVideo video={Hero15} />

  <section class="container_general">
    <section class="hero_home">
      <h1>Musica para entrenar</h1>
      <p>
        En esta sección, podrás descubrir dos géneros musicales que
        personalmente adoro. En cada uno, encontrarás un artista destacado y mis
        canciones favoritas de ellos. La idea es que puedas incorporar alguna de
        estas canciones a tus rutinas de entrenamiento. ¡Espero que las
        disfrutes y que te motiven a entrenar con toda la energía!
      </p>
    </section>

    <Electronica client:idle />
    <hr class="line" />
    <Rock client:idle />
    <hr class="line" />
  </section>
</Layout>
