---
import Hero5 from "../videos/hero5.mp4";
import Layout from "../layouts/Layout.astro";
import HeroVideo from "../components/Hero_video.astro";
import "../style/pageGeneral.css";

const skillsRes = await fetch(`http://localhost:3000/exercise`);
const skills = await skillsRes.json();

export function truncateText(text, maxLength) {
  if (text == null) {
    return "";
  }
  if (text.length <= maxLength) {
    return text;
  }
  return text.substring(0, maxLength) + "...";
}
---

<Layout title="RouteSthenics - Skills">
  <HeroVideo video={Hero5} />

  <section class="container_general">
    <h1>Habilidades (Skills)</h1>
    <section>
      <ul class="exercise_containers">
        {
          skills.map(
            (skill: {
              _id: String;
              exerciseName: String;
              exerciseDesc: String;
            }) => (
              <a href={`/Skills/${skill._id}`}>
                <section class="exercise_items">
                  <h4>{skill.exerciseName}</h4>
                  <p>{truncateText(skill.exerciseDesc, 84)}</p>
                </section>
              </a>
            )
          )
        }
      </ul>
    </section>
  </section>
</Layout>
