---
import Hero4 from "../videos/hero4.mp4";
import Layout from "../layouts/Layout.astro";
import { truncateText } from "./skills.astro";
import HeroVideo from "../components/Hero_video.astro";
import "../style/pageGeneral.css";

const skillsRes = await fetch(`http://localhost:3000/warmup`);
const skills = await skillsRes.json();
---

<Layout title="RouteSthenics - WarmUp">
  <HeroVideo video={Hero4} />

  <section class="container_general">
    <h1>Calentamientos (WarmUp)</h1>

    <section>
      <ul class="exercise_containers">
        {
          skills.map(
            (skill: { _id: String; warmName: String; warmDesc: String }) => (
              <a href={`/Calentamientos/${skill._id}`}>
                <section class="exercise_items">
                  <h4>{skill.warmName}</h4>
                  <p>{truncateText(skill.warmDesc, 84)}</p>
                </section>
              </a>
            )
          )
        }
      </ul>
    </section>
  </section>
</Layout>
