---
const { video } = Astro.props;
---

<section class="hero_video">
  <video autoplay muted loop id="video-bg">
    <source src={video} type="video/mp4" />
    Tu navegador no admite la etiqueta de video.
  </video>
  <div class="overlay"></div>
</section>
