---
import Navbar from "../components/Navbar.astro";
import Foot from "../components/Footer.astro";
import Faq from "../components/Faq.astro";
import Card from "../components/Card.astro";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="Descubre tu camino hacia la excelencia física con nuestra página de inicio sobre rutas de aprendizaje de ejercicios de calistenia. Encuentra la guía perfecta para alcanzar tus objetivos y dominar la calistenia."
    />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <header>
      <Navbar />
    </header>

    <main>
      <slot />

      <Card
        nombre="La equipacion en la Calistenia"
        descripcion="¡Descubre el secreto para esculpir tu cuerpo sin límites! ¿Estás listo para desafiar tus límites físicos y alcanzar tu mejor versión? ¡Entonces, la calistenia es tu respuesta! Haz clic ahora para sumergirte en un mundo de entrenamiento funcional, donde tu propio peso corporal se convierte en tu herramienta de transformación. Desde barras de dominadas hasta anillas, nuestro equipamiento de calistenia te llevará a nuevos niveles de fuerza, flexibilidad y definición muscular. ¡Prepárate para desatar tu potencial y alcanzar tus metas fitness de una vez por todas! ¡Haz clic y comienza tu viaje hacia un cuerpo más fuerte y ágil hoy mismo!"
        mostrarOtroBoton={true}
      />

      <Faq />

      <Card
        nombre="Mi Progreso Personal"
        descripcion="¡Únete a mi viaje de superación personal en el mundo de la calistenia! Como creador, estoy emocionado de compartir contigo mi progreso en este apasionante viaje hacia la fuerza y la destreza física. Desde mis humildes comienzos hasta ahora, cada paso que doy representa un nuevo logro, una nueva meta alcanzada. Mi objetivo al compartir mi progreso contigo es inspirarte a ti también a embarcarte en tu propio viaje de automejora. Juntos, podemos celebrar los éxitos, superar los desafíos y motivarnos mutuamente para alcanzar nuestras metas."
        mostrarOtroBoton={false}
      />
    </main>
    <Foot />
  </body>
</html>
<style is:global>
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    transition: all 0.2s;
  }

  p {
    font-family: sans-serif;
  }

  /* xd */

  .container_general {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-left: 1.8rem;
    padding-right: 1.8rem;
    max-width: 820px;
    margin: 80px auto 0px auto;
    scrollbar-color: black blue;
    scrollbar-width: thin;
  }

  /* ------ */
  .hero_video {
    position: relative;
    width: 100%;
    height: 90vh;
    overflow: hidden;
    clip-path: polygon(
      50% 0%,
      100% 0%,
      100% 91.5%,
      75% 100%,
      25% 100%,
      0% 91%,
      0% 0%
    );
  }

  #video-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
  }
  /* ----- */
  .hero_home {
    width: 100%;
    margin-bottom: 60px;
  }
  .hero_home h1 {
    padding-bottom: 20px;
    text-align: center;
    background: #101cba;
    background: -webkit-linear-gradient(to left, #101cba 0%, #00cfc8 100%);
    background: -moz-linear-gradient(to left, #101cba 0%, #00cfc8 100%);
    background: linear-gradient(to left, #101cba 0%, #00cfc8 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: "aero", sans-serif;
  }
  .hero_home p {
    font-size: 1.125rem;
    color: #9ca391;
    line-height: 1.75rem;
    text-align: center;
    font-family: "mystice", sans-serif;
  }

  ul,
  li,
  a {
    list-style: none;
    color: white;
    text-decoration: none;
  }

  body {
    background: #000000;
    background: -webkit-linear-gradient(0deg, #000000 0%, #001535 100%);
    background: linear-gradient(0deg, #000000 0%, #001535 100%);
  }

  h1 {
    font-size: 2.5rem;
  }
  h2 {
    font-size: 2rem;
  }
  h3 {
    font-size: 1.8rem;
  }
  h4 {
    font-size: 1.5rem;
  }
  h5 {
    font-size: 1.3rem;
  }
  h6 {
    font-size: 1.1rem;
  }

  @font-face {
    font-family: "aero";
    src: url("../fonts/Aero.ttf");
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: "mystice";
    src: url("../fonts/Mystice.otf");
    font-weight: normal;
    font-style: normal;
  }
</style>
